ansible==13.0.0
ansible-compat==25.12.0
ansible-core==2.20.0
ansible-lint==25.12.0
attrs==25.4.0
black==25.11.0
bracex==2.6
certifi==2025.11.12
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.3.1
click-help-colors==0.9.4
cryptography==46.0.5
distlib==0.4.0
distro==1.9.0
docker==7.1.0
enrich==1.2.7
filelock==3.20.0
flake8==7.3.0
identify==2.6.15
idna==3.11
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
molecule==25.12.0
molecule-docker==2.1.0
molecule-plugins==25.8.12
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.1
pluggy==1.6.0
pre_commit==4.5.0
pycodestyle==2.14.0
pycparser==2.23
pyflakes==3.4.0
Pygments==2.19.2
pytokens==0.3.0
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
resolvelib==1.2.1
rich==14.2.0
rpds-py==0.30.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
selinux==0.3.0
subprocess-tee==0.4.2
urllib3==2.6.0
virtualenv==20.35.4
wcmatch==10.1
yamllint==1.37.1
