[
 {rabbit, [
   {tcp_listeners, [{% for item in rabbitmq_listeners %}{"{{ item }}", {{ rabbitmq_listen_port }}}{% if not loop.last %}, {% endif %} {% else %} {{rabbitmq_listen_port}} {% endfor %}]}
  ]}
].
