---
name: Molecule Test
on:
  push:
    branches-ignore:
      - main
      - master
  pull_request:
    branches:
      - develop
      - main
      - master

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements-dev.txt
          pip install pre-commit
      - name: Run pre-commit checks
        run: |
          SKIP=no-commit-to-branch pre-commit run --all-files
      - name: Test with molecule
        run: |
          molecule test --scenario-name ${{ matrix.molecule_distro }}
